<html>
  <head>
    <title>Student Teacher Management System</title>
  </head>

  <body style="background-color: #ede9c5">
    <div
      style="
        margin: 10rem auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      "
    >
      <h1
        style="
          display: inline-block;

          color: #545252;
        "
      >
        Welcome to <br />Student Teacher Management System
      </h1>
      <br />
      <br />
      <a style="color: #58ada8" href="http://34.143.159.240:3080/students"
        >Click here to proceed</a
      >
    </div>
  </body>
</html>
